:root{
    --LightGrey:rgb(230,236,240);
    --Spacing:15px;
    --GreyLight:rgb(127, 134, 139);
}

nav{
   display:flex;
   flex-direction: column;
   align-items: flex-end;
   height: 100%;
}

nav a{
    padding:10px;
    font-size:30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}



.icons{
color: #000000;
}


.mainSectionContainer{
padding:0;
border-left:1px solid var(--LightGrey);
border-right:1px solid var(--LightGrey);
display: flex;
flex-direction: column;
}

.titleContainer{
    height: 53px;
    padding:0 var(--Spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--LightGrey);
    flex-shrink: 0;
}

.titleContainer h1{
    flex:1;
}


h1{
    font-size: 19px;
    font-weight: 900;
    margin: 0;
}

.postFormContainer{
    display:flex;
    padding:var(--spacing);
    border-bottom: 10px solid var(--LightGrey);
    flex-shrink: 0;
}

.userImageContainer{
    width: 50px;
    height: 50px;
}

.userImageContainer img{
   width: 100%;
   border-radius: 50%;
   background-color: #fff;
}

.textAreaContainer{
flex:1;
padding-left: var(--Spacing);
}

.textAreaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;

    }

#submitPostButton{
    margin-bottom: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}

#submitPostButton:disabled{
    background-color: var(--GreyLight);
    color: black;
}