mixin createPostForm(userLoggedIn)
     .postFormContainer 
            .userImageContainer 
                    img(src=userLoggedIn.profilePic, alt="User Profile Pic")
            .textAreaContainer 
                    textarea#postTextArea(placeholder="What's happening?") 
                    .buttonsContainer 
                         button#submitPostButton(disabled="") Post